{{ partial:hero }}

{{ flexible_content }}

  	{{ if type == "bio" }}

    	{{ partial:bio }}

    {{ elseif type == "cta_with_icon" }}

        {{ partial:cta-with-icon }}

  	{{ elseif type == "feedback" }}

    	{{ partial:feedback }}

  	{{ elseif type == "portfolio" }}

    	{{ partial:portfolio }}

    {{ elseif type == "pull_image" }}

        {{ partial:pull-image }}

  	{{ elseif type == "services" }}

    	{{ partial:services }}

    {{ elseif type == "subscribe" }}

    	{{ partial:subscribe }}

  	{{ /if }}

{{ /flexible_content }}
