<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Another awesome Statamic site">
    <title>{{ title ?? site:name }}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ theme:css }}">

    <link rel="stylesheet" href="https://use.typekit.net/omx8een.css">
    <script src="https://kit.fontawesome.com/551ea5e9e1.js" crossorigin="anonymous"></script>
</head>

<body>

    {{ partial:nav }}

    {{ template_content }}

    {{ partial:footer }}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ mix src='/js/site.js' }}"></script>

</body>
</html>