<section class="cta">
    <div class="container">
        <div class="cta__icon">
            {{ assets:ctaicon_icon }}
            <img src="{{ url }}" />
            {{ /assets:ctaicon_icon }}
        </div>

        <h6 class="cta__superheader">
            {{ ctaicon_superheader }}
        </h6>

        <h2 class="cta__header">
            {{ ctaicon_header }}
        </h2>

        <a class="cta__button" href="{{ ctaicon_button_url }}">
            {{ ctaicon_button_text }}
        </a>
    </div>
</section>
