<section class="py-16 md:py-24 text-center bg-charcoal-bg">
    <div class="container px-4">
        <div class="relative w-40 sm:w-52 lg:w-60 mx-auto mb-10">
            {{ assets:leadin_icon }}
            <img src="{{ url }}" />
            {{ /assets:leadin_icon }}
        </div>

        <h2 class="max-w-4xl mx-auto mb-4 font-serif text-2xl sm:text-3xl lg:text-4xl text-tan">
            {{ leadin_header }}
        </h2>

        <p class="max-w-4xl mx-auto mb-12 font-sans-alt text-sm sm:text-base text-tan">
            {{ leadin_text }}
        </p>

        <a class="inline-block px-4 sm:px-6 py-3 sm:py-4 mb-8 md:mb-12 text-xs sm:text-sm lg:text-base text-white hover:text-red-bg bg-red-bg hover:bg-white rounded transition" href="{{ leadin_button_url }}">
            {{ leadin_button_text }}
        </a>
    </div>
</section>
