<section class="overflow-x-hidden py-16 md:py-24 bg-tan-bg">
    <div class="container max-w-6xl px-4">

        <div class="md:flex flex-row">
            <div class="md:w-1/2 md:pr-12 lg:pr-16 xl:pr-20">
                {{ assets:logoblock_image }}
                    <div class="relative h-0 md:h-full pb-16/9 md:pb-0 mb-8 md:mb-0 bg-cover bg-center bg-gray" style="background-image: url('{{ url }}')">
                        <div class="absolute top-0 right-0 w-20 h-32 bg-contain transform translate-x-1/2 -translate-y-1/2" style=" background-image: url('/assets/sparkle.png')"></div>
                    </div>
                {{ /assets:logoblock_image }}
            </div>

            <div class="block md:w-1/2 md:py-12">
                
                <h2 class="mb-4 font-serif text-2xl sm:text-3xl text-charcoal">
                    {{ listimage_header }}
                </h2>

                <ul>
                    {{ listimage_list }}
                        <li class="py-4 md:py-6 lg:py-8 font-sans-alt text-sm md:text-base border-b border-charcoal">
                            {{ value }}
                        </li>
                    {{ /listimage_list }}
                </ul>

            </div>
        </div>

    </div>
</section>
