<section class="portfolio">
    <div class="container">
        <div class="portfolio__icon">
            {{ assets:portfolio_icon }}
                <img src="{{ url }}" />
            {{ /assets:portfolio_icon }}
        </div>

        <h2 class="portfolio__header">
            {{ portfolio_header }}
        </h2>

        <p class="portfolio__subheader">
            {{ portfolio_subheader }}
        </p>

        <div class="portfolio__items">
            {{ projects }}
                {{ if type == "project" }}
                    <div class="portfolio-item" {{ assets:image }}style="background-image: url('{{ url }}')"{{ /assets:image }}>
                        <div class="portfolio-item__name">
                            <a href="{{ url }}">
                                {{ name }}
                            </a>
                        </div>
                    </div>
                {{ /if }}
            {{ /projects }}
        </div>

        <div>
            <a class="portfolio__button" href="{{ portfolio_button_url }}">
                {{ portfolio_button_text }}
            </a>
        </div>
    </div>
</section>
