<section class="py-16 md:py-20">
    <div class="container px-4">
        <div class="w-20 md:w-28 mx-auto mb-8">
            {{ assets:portfolio_icon }}
                <img src="{{ url }}" />
            {{ /assets:portfolio_icon }}
        </div>

        <h2 class="mb-4 font-serif text-2xl sm:text-3xl lg:text-4xl text-charcoal text-center">
            {{ portfolio_header }}
        </h2>

        <p class="mb-8 font-sans-alt text-sm sm:text-base text-charcoal text-center">
            {{ portfolio_subheader }}
        </p>

        <div class="flex flex-row flex-wrap">

            {{ collection from="projects" limit="6" }}
                <div class="w-1/2 h-48 sm:h-60 md:h-80 bg-cover bg-center"
                    {{ assets:featured_image }}
                        style="background-image: url('{{ url }}')"
                    {{ /assets:featured_image }}
                >

                    <a href="{{ url }}">
                        <div class="relative w-full h-full bg-charcoal bg-opacity-50 opacity-0 hover:opacity-100 transition">
                            <div class="absolute top-1/2 left-1/2 w-full px-8 text-sm sm:text-base md:text-lg lg:text-xl text-center text-tan transform -translate-x-1/2 -translate-y-1/2">
                                {{ title }}
                            </div>
                        </div>
                    </a>

                </div>
            {{ /collection }}

        </div>

        <div class="mt-8 text-center">
            <a class="relative pr-4 text-sm sm:text-base text-primary hover:pr-6" href="{{ portfolio_button_url }}">
                {{ portfolio_button_text }}
                <span class="absolute top-1/2 right-0 w-2 h-2 border-r border-b border-primary transform -rotate-45 -translate-y-1/2"></span>
            </a>
        </div>
    </div>
</section>
