<section class="relative flex flex-row">
    <div class="w-full md:w-1/2 bg-red-bg">
    	<div class="max-w-2xl p-8 md:p-12 mx-auto text-center">

	    	<h6 class="inline-block py-1 px-3 mx-auto mb-8 text-xs lg:text-sm text-white bg-pink-bg">
	    		{{ subscribe_superheader }}
	    	</h6>
	    	<h2 class="mb-4 font-serif text-2xl sm:text-3xl lg:text-4xl text-tan">
	    		{{ subscribe_header }}
	    	</h2>
	    	<p class="mb-8 font-sans-alt text-sm sm:text-base text-tan">
	    		{{ subscribe_text }}
	    	</p>

	    	<div>
				<!-- Begin Mailchimp Signup Form -->
				<form action="https://happylandcreative.us19.list-manage.com/subscribe/post?u=9ba911cef8f117dbb4743facb&amp;id=c2ac17e696" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<div id="mc_embed_signup_scroll">
						<div class="mb-2">
							<input type="text" value="" placeholder="First Name" name="FNAME" class="w-full p-3 sm:p-4 text-xs" id="mce-FNAME" required>
						</div>
						<div class="mb-8">
							<input type="email" value="" placeholder="Email Address" name="EMAIL" class="w-full p-3 sm:p-4 text-xs" id="mce-LNAME" required>
						</div>
						<input type="checkbox" value="1" name="group[4367][1]" id="mce-group[4367]-4367-0" style="display:none;" checked>
					</div>
					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;" aria-hidden="true">
						<input type="text" name="b_9ba911cef8f117dbb4743facb_c2ac17e696" tabindex="-1" value="">
					</div>
					<div class="clear">
						<input type="submit" value="{{ signup_button_text }}" name="subscribe" id="mc-embedded-subscribe" class="px-4 py-3 text-xs lg:text-sm text-tan hover:text-red-bg uppercase text-center bg-red-bg hover:bg-tan rounded border border-tan transition cursor-pointer">
					</div>
				</form>
				<!--End mc_embed_signup-->
	    	</div>
	    </div>
    </div>

    <div class="absolute top-0 right-0 hidden md:block w-1/2 h-full bg-gray bg-cover bg-center" {{ assets:subscribe_image }}style="background-image: url('{{ url }}')"{{ /assets:subscribe_image }}></div>
</section>
